
<div figure-id="fig:clipart1_world_agent1">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_world_agent1.svg" style="width: 80%; height: auto"/>
</div>     

<div figure-id="fig:clipart1_boundary">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_boundary.svg" style="width: 80%; height: auto"/>
</div>     

<div figure-id="fig:clipart1_world_agent3">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_world_agent3.svg" style="width: 80%; height: auto"/>
</div>     

<div figure-id="fig:clipart1_world_agent4">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_world_agent4.svg" style="width: 80%; height: auto"/>
</div>     

<div figure-id="fig:clipart1_organization">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_organization.svg" style="width: 80%; height: auto"/>
</div>     

<div figure-id="fig:clipart1_4drcs_1">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_4drcs_1.svg" style="width: 80%; height: auto"/>
</div>     

<div figure-id="fig:clipart1_4drcs_2">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_4drcs_2.svg" style="width: 80%; height: auto"/>
</div>     

<div figure-id="fig:clipart1_4drcs_3">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_4drcs_3.svg" style="width: 80%; height: auto"/>
</div>     

<div figure-id="fig:clipart1_dt_arch1">
    <figcaption>Add caption here</figcaption>
    <img src="clipart1_dt_arch1.svg" style="width: 80%; height: auto"/>
</div>     
